

<html>
<head>
<title>HOME COST PREDICTION USING ML</title>


<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>




</head>

<body align="center" style="background-color:#ccccff">
<h3> HOME  DETAILS</h3>
                                                                                                                                         

<h5><br>
HOUSE ESTIMATED  COST ₹{{value}}     
<br>

</h5>
<form action="/recheck" method="post">
 <button type="submit" class="btn-large waves-effect waves-light orange">MODIFY Home Details</button>
</form>
<form action="/loginacc" method="post"> 
<button type="submit">LOGIN</button>
</form>












